/* Wrapper for search input and suggestions */
.input-group {
  position: relative; /* Ensures suggestions list is positioned correctly */
  width: 20vw;
}

@media screen and (max-width: 768px) {
  .input-group {
    width: 100%;
  }
  
}

/* Suggestions list styling */
.suggestion-list {
  max-height: 200px; /* Limit the height of the list */
  overflow-y: auto; /* Add scroll if needed */
  width: 100%; /* Match the width of the input */
  /* border-radius: .25rem; Match input border radius */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
  position: absolute; /* Position below the input */
  top: 100%; /* Position below input */
  left: 0; /* Align with input */
  z-index: 1000; /* Ensure it appears above other elements */
}

/* Individual suggestion item styling */
.suggestion-item {
  padding: 10px; /* Space around text */
  cursor: pointer; /* Indicate clickable items */
}

.suggestion-item:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}
