@media (max-width:600px){
  .car-image{
    width: 100px;
    height: 200px;
  }
  .images{
    display: flex;
    flex-direction: column;
    /* gap: 0.3; */
  }
  }

  
  .images{
    /* background-color: red;    */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    width: 100%;
    height: 100vh; /* or another height depending on your layout */
    overflow: hidden; /* Optional: to hide overflow content */
    position: relative;/* Ensures correct positioning */
  }

  .slider-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  